NET "Clk" LOC = T10 | IOSTANDARD = LVCMOS33; # SW0
NET "D[0]" LOC = T9 | IOSTANDARD = LVCMOS33;  # SW1
NET "D[1]" LOC = V9 | IOSTANDARD = LVCMOS33;  # SW2
NET "D[2]" LOC = M8 | IOSTANDARD = LVCMOS33;  # SW3
NET "D[3]" LOC = N8 | IOSTANDARD = LVCMOS33;  # SW4
NET "reset" LOC = U8 | IOSTANDARD = LVCMOS33; # SW5
NET "set" LOC = V8 | IOSTANDARD = LVCMOS33; # SW6

NET "Q[0]" LOC = U16 | IOSTANDARD = LVCMOS33;  # LED0
NET "Q[1]" LOC = V16 | IOSTANDARD = LVCMOS33;  # LED1
NET "Q[2]" LOC = U15 | IOSTANDARD = LVCMOS33;  # LED2
NET "Q[3]" LOC = V15 | IOSTANDARD = LVCMOS33;  # LED3
